<html>
    <head>
        <title>My Evo Calendar</title>
        <link rel="stylesheet" type="text/css" href="evo-calendar.css"/>
        <link rel="stylesheet" type="text/css" href="evo-calendar.midnight-blue.css"/>
    </head>
    <body>
        <div id="calendar"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="evo-calendar.min.js"></script>

        <script>
        
        $(document).ready(function() {
            $('#calendar').evoCalendar({
                theme: "Midnight Blue",
                calendarEvents: [
                    {
                        id: 'event1',
                        name: "New Year",
                        date: "2020-01-01", // Use this date format
                        type: "holiday",
                        description: "Great time of the year",
                        everyYear: true
                    },
                    {
                        name: "Vacation Leave",
                        badge: "02/13 - 02/15",
                        date: ["2020-02-13", "2020-02-15"], // Use this date format
                        description: "Vacation leave for 3 days.",
                        type: "event",
                        color: "#63d867"
                    }
                ]
            })
        })
        </script>

    </body>
</html>