<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/explore.css" rel="stylesheet" crossorigin="anonymous">
    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">    
    

<title>Explore</title>
</head>
<body>
        <div class="wrapper">
            <div class="top img-overlay">
                <img src="../assets/img/img2.1.jpeg" alt="food" class="bg-img " />
                <h2>Discover Culinary Wonders</h2>
                <h2 id="header"></h2>
            </div>
        <div id="search-container">

            <div id="restaurant"></div>
        </div>
    </div>
        



    <script type="text/javascript" src="../assets/js/explore.js"></script>
</body>
</html>