<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/monuments.css">
    <!-- Add these lines in the head section of your HTML -->
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</head>
<body>
    <div class="box">
        <div class="box-body">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item"><img src="../assets/img/logo2 (3).jpg" alt="Image 1"></div>
                    <div class="carousel-item"><img src="image2.jpg" alt="Image 2"></div>
                    <div class="carousel-item"><img src="image3.jpg" alt="Image 3"></div>
                    <!-- Add more images as needed -->
                </div>
            </div>
          <div class="box-lid">
            <div class="box-bowtie"></div>
          </div>
        </div>
      </div>
</body>
</html>