<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional music and dance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/dance.css">
    <!-- Iconscout Link  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="header">
       <div class="firstlogo"><a href="/"><img class="ektalogo" src="../logo2 (3).jpg"></a></div>
        <a href="#" class="logo">Music</a>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div> 
            <div id="search-btn" class="fas fa-search"></div>
          
        </div>
    </header>

    <div class="search-form">
        <div id="close-search" class="fas fa-times"></div>
        <form action="">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>

    <section class="home" id="home">
   
        <div class="wrapper">
           
                <div class="box" style="background: url(../assets/img/letsee.jpg) no-repeat;">
                <div class="content">
                    <span>India's rich heritage</span>
                    <h3>Traditional dance and music </h3>
                    <p></p>
                    <a href="#category" class="btn xyz">get started</a>
                </div>
                </div>  
        </div>
    </section>






</body>
</html>
