*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstlogo{
  width: 20%;
  height: 20%;
  }
  
.ektalogo{
    width: 30%;
    height: 30%;
   border-radius: 50%;
}

.banner{
    width: 100%;
    height: 100vh;
    /* background-image: url(img/img1.1.jpeg);  */
    /* background-size: cover; 
    background-position: center; */
    position: relative;
   
}

.bg-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }

  .dance{
    z-index: 1; 
  }
  

  h2{
    position: relative;
    font-size: 92px;
    text-align: center;
    animation: fadeInUp 1s ease-in;
    font-family: 'Dancing Script', cursive;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    letter-spacing: 5px;
    
  }

  .intro{
    position: relative;
    font-size: 32px;
    animation: fadeInUp 1s ease-in;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }

  @keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.dropdown{
  justify-content: center;
  align-items: center;
  display: flex;
}


select {
  /* Reset Select */
  display: flex;
  position: relative;
  appearance: none;
  outline: 10px;
  border: 0;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: #72706a0f;
  background-image: none;
  cursor: pointer;
  /* width: 4rem; */
 
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  margin-top: 3rem;
  justify-content: center;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  /* align-items: center; */
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #72706a0f;
  transition: 2s all ease-in;
  pointer-events: none;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


.learn{
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.cards {
    /* width: 100%; */
   
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    /* margin: 40px; */
    margin-bottom: 20px;
    padding: 30px;
    gap: 30px;

  }

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url("../img/danceexplore.jpg");
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url("../img/dancelearn.jpg");
}


.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 400px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
/* cursor: default; */
  
}
.card {
  margin-right: 20px;
  margin-top: 20px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 30%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  height: 550px;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
   margin-top: 15px;
  
}

.card__category {
  font-family: 'Tilt Neon', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Dancing Script'; */
    /* text-transform: uppercase; */
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 500;
  /* color: #868686; */
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Tilt Neon', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Dancing Script'; */
    letter-spacing: 1px;
    font-size: 22px;
    color: rgba(61, 59, 59, 0.821);
}


.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.learn-btn {
  text-align: center;
  justify-content: center;
  /* display: flex; */
  align-items: center;
  transform: translate(-50%, -50);
  background: none;
  width: 200px;
  height: 50px;
  /* border: 10px solid rgba(255,166,0); */
  /* border-radius: 10px; */
  transition: 0.8;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  margin-left: 42%;
  margin-bottom: 80px;
  margin-top: -110px;
}

  