*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
}

/* body{
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.dropdown{
    max-width: 15rem;
    position: relative;
    margin: 2rem;
}

.select{
    background: #2a2f3b;
    color: #fff;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in;
}

.select-clicked{
    border: 2px #26489a solid ;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background: #323741;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.4s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2rem 0.5rem;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
} */



  /* .initial {
     width: 100%;
     height: 100vh;
     position: relative;
 } */

 .bg-img{
    width: 100%;
    height: 45vh;
    /* opacity: 0.6; */
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.img-overlay{
    width: 100%;
    height: 50vh;
    background-color: rgb(21 22 23 / 92%);
}

/* h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
    position: relative;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #dddfe3;
    letter-spacing: 2.5px;
    word-spacing: 2px;
} */


/* button{
    width: 170px;
    height: 60px;
    margin: 20px;
    border-radius: 10px;
    background-color: #2a2f3b; 
    color: #dddfe3;
    font-family: Helvetica;
    transition: 0.2s;
    font-size: 20px;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    letter-spacing: 1.5px;
    
    
}

.select {
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 100px;
}

button:hover{
    border: 3px #26489a solid ;
    box-shadow: 0 0 1em #26489a;
    border-radius: 10px;
} */

body{
    background-color: #f5f8ff;
}

h2{
    font-family: 'Playfair Display', serif;;
    text-align: center;
    font-size: 55px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    /* color: #dddfe3; */
    letter-spacing: 3px;
    word-spacing: 2px;
    
 }

 .top{
    width: 100%;
    height: auto;
    color: #f5f5f5e6;
 }


#header{
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -15px;
}

#search-container{
    margin: 1rem 0;
}

#search-container input {
    background-color: transparent ;
    width: 30%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus{
    border-bottom-color: #6759ff;

}


#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #fff;
    border-radius: 5px;
    margin-top: 0.5em;
}

#restaurant{
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 1.5em;
    padding: 2em 0;
    background-color: #09090a;
    padding-left: 20px
}

.card{
    background-color: #23242a45;
    max-width: 40em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0,08);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5em;
}


.image-container{
    text-align: center;
}

img{
    /* max-width: 100%;
    object-fit: contain; */
    height: 12em;
    width: 20em;
    border-radius: 10px;
}

.container {
    padding-top: 1em;
    color: #110f29;
}

.container h4{
   
    margin-bottom: 1rem;
    color: #f5f5f5e6
}

.container h5 {
    font-weight: 700;
    line-height: 1.25rem;
    color: #f5f5f5e6;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
}

.card:hover{
    color: black;
    background-color: #5f606454;
}

.hide{
    display: none;
}

@media screen and (max-width: 720px) {
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card {
        max-width: 10em;
        margin-top: 1em;
    }
    #restaurant{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}

.rest-name {
    font-size: 20px;
}
