body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: none;
  width: 100%;
}

img {
  width: 100%;
}

